html {
    background: linear-gradient(#472165, #c761e0);
    background-size: cover;
}

#logo {
    margin-left:auto;
    margin-right:auto;
    margin-bottom:-4em;
    margin-top:4em;
}

main {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align:center;
    color:#ffffff;
}

#title {
    font-size:140px;
    font-weight: 100;
}

#tagline {
    font-size: 24px;
    font-weight: 100;
    margin-top:-1em;
}

h2 {
    font-weight: 100;
    font-size:48px;
    text-align:center;
}

section {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    color:#ffffff;
}

.person {
    margin-bottom: 1em;
    background-color: #0004;
    border-radius:1em;
    padding:0.5em 2em 4em 2em;
    margin-left:20%;
    margin-right:20%;
}

.head {
    position: relative;
    float:left;
    transform: scaleX(-1);
}

.person .name {
    font-size:2em;
}

.person .desc {
    display:block;
    font-size:18px;
}